body{
  background-color: rgb(232, 232, 232);
}
p{
  font-size: 25px;
}
.button {

  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid black;
}
.button:hover {
  background-color: #008CBA;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.pyday-head{
  color:rgb(51, 51, 218); 
  font-size: 80px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}
li {
  float: left;
  text-align: center;
}

li a {
  list-style-type: none;
  font-size:30px;
  display: block;
  padding: 12px 20px;
}