body{
  background-color: rgb(232, 232, 232);
}
p{
  font-size: 25px;
  font-family: monospace;
}
@media(min-width: 720px){
  .bodyclass{
    background-image: url(../static/bg-test.png);
    background-repeat: no-repeat; 
    background-size: cover;  
  }
}

.button {

  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
  margin: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid black;
}

.result {

  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  font-family: monospace;
  margin: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* background-color: white;  */
  color: black; 
  border: 3px solid green;
}

.button:hover {
  background-color: gainsboro;
  color: black;
  font-weight: bolder;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.pyday-head{
  color:rgb(51, 51, 218); 
  font-size: 60px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}
li {
  float: left;
  text-align: center;
}

li a {
  list-style-type: none;
  font-size:30px;
  display: block;
  padding: 12px 20px;
}
.wrapper {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 51ch;
  animation: typing 2s steps(10000), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}