ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
#pyday{
color: blue;
}
li {
  float: left;
  text-align: center;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}