<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Azure PyDay{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
 </head>

  <body class="bodyclass">
    <div class="nav">
      <ul >
        <li ><a href="/">About</a></li>
        <li ><a href="./capture">Local-Upload</a></li>
        <li ><a href="./livecapture">Live-Capture</a></li>
        <!-- <li ><a href="./live">Live-Capture</a></li> -->
        <img style=" padding: 10px 0px; float:right; width:60px; margin-right: 10px;" src="../static/MSS logo circle.png">
      </ul>
      
    </div>
     
      {% block body %}
      {% endblock %}
      
  </body>
</html>