{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="text-center" style="color: black;" >

  <h1 class="pyday-head" id="pyday" align="center" >Azure PyDay</h1>
    
  <div class="wrapper">
    <div class="typing-demo">
        Communicate. Collaborate. Connect. Just like before. 
    </div>
  </div>
  
  <h3 style="font-family: Arial, Helvetica, sans-serif; margin-bottom: 30px;" >
    <p>
      <br>#WeAreTogether<br>
      In these challenging times, we will rise against the miles between us.
      <br> Together, we will ensure that you and the community stay connected.
    </p>
  </h3>

  <form action = "/capture">
    <input class="button"type="submit" value="Try uploading an image" >
  </form>
  <footer><p style="margin-left: px;margin-top: 100px;"><a href="https://linkedin.com/in/syed-sohaib-uddin/">Follow me</a></p></footer>

</div>
{% endblock %}