{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div >
  <!-- <h1>Welcome to the app</h1> -->
  <h2 align="center" class="lead">
    Learn as an individual<br>
    Host as a Community<br>
    #AzurePyday</h2>

  <p>
    Communicate. Collaborate. Connect. Just like before. <br>#WeAreTogether<br>
    In these challenging times, we will rise against the miles between us.<br> Together, we will ensure that you and the community stay connected.
  </p>

  <form action = "/demo">
    <input class="button"type="submit" value="Try It" >
</form>
</div>
{% endblock %}