{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="text-center" style="color: black;" >
  <!-- <h1>Welcome to the app</h1> -->
  <!-- <h1 align="center" >
    Learn as an individual<br>
    Host as a Community<br>
    #AzurePyday</h1> -->

  <h3 style="font-family: Arial, Helvetica, sans-serif; margin-bottom: 30px;" >
    Communicate. Collaborate. Connect. Just like before. <br>#WeAreTogether<br>
    In these challenging times, we will rise against the miles between us.<br> Together, we will ensure that you and the community stay connected.
  </h3>

  <form action = "/demo">
    <input class="button"type="submit" value="Try It" >
</form>
</div>
{% endblock %}