{% extends "base.html" %}
{% block title %}Live Capture{% endblock %}
{% block body %}

<div class="col-sm-12 col-md-12 col-xs-12 text-center" >
    <h2 align="center" style="color: black;">Live capture</h2>
    <p>Click on an image file to classify</p>
    <image style="margin:10px 130px;"id="bg" height="300px" width="300px" src="{{ url_for('video_feed') }}">
    <form id="myform" action="/live" method ="post" enctype="multipart/form-data">  
      <!-- <input type="image" name="file" /> -->
      <!-- <input type="file" name="imagefile" id="imagefile" /> -->
      <input class="button" type="submit" value="Upload">  
    </form> 
    <p>Results:<br><h3 class="result">{{result}}</h3> </p> 
    <img src="../static/test1.jpg" width="200px" height="200px" alt="Image">
</div>

<script>
    var form = document.getElementById('myform');
setInterval(function() {
    form.submit();
}, 3000);
</script>
  
{% endblock %}